<!DOCTYPE html>
<html>
<head>
	{% load staticfiles %}
	<title>曼陀號領航計畫</title>
	<link rel="stylesheet" href="{% static 'home.css' %}">
</head>
<body>
	<div class="nav">	
		<div class="logo">
		</div>	
		<div class="menu">
			<ul>	
				<li class="nav_item">
					<button id="home_btn" type="button" class="item" aria-haspopup="true" aria-expanded="false" aria-busy="false" onclick="">
						<div class="item_con">Home</div>	
					</button>
				</li>
				<li class="nav_item">
					<button type="button" class="item" aria-haspopup="true" aria-expanded="false" aria-busy="false" onclick="">
						<div class="item_con">計劃詳情</div>	
					</button> 
				</li>
				<li class="nav_item">
					<button type="button" class="item" aria-haspopup="true" aria-expanded="false" aria-busy="false" onclick="">
						<div class="item_con">領航船長</div>	
					</button>
				</li>
				<li class="nav_item">
					<button type="button" class="item" aria-haspopup="true" aria-expanded="false" aria-busy="false">
						<div class="item_con">報名資格</div>	
					</button> 
				</li>
			</ul>
		</div>
	</div>
	<div class="fisrt">

	</div>
	<div class="second">
		<div class="second_top">
			<div class="second_title">
				<h3>曼陀號領航計畫</h3>
			</div>
			<div class="second_content">
				<p>台灣兩大致力於推廣女性於科技業和使用者體驗發展的非營利組織：Girls In Tech 和 Ladies that UX 台北分會<br>
					共同舉辦第一屆 Mentor X Mentee 的 The MentorShip 曼陀號領航計畫。<br>
					在為期四個月的計畫期間，邀請各領域知名專家擔任小組的業師，透過分組的方式，<br>
					進行定期交流對談，傳承經驗，輔導Mentee 突破職場上的各種迷惘與挑戰，打造開放、互惠的交流平台。</p>
				</div>
			</div>
			<div class="second_bottom">
				<div class="second_block">
					<div class="block_left">
						
					</div>
					<div class="block_right">
						<div class="block_title">
							<h5>人脈串連</h5>
						</div>
						<div class="block_content">
							<p>
								除了工作能力，職場上更不可或缺的專業力即是「人脈」。透過參與活動、相互交流，建立屬於你的人脈網，不僅增加工作上互助的好夥伴，更是為自己提高職場即戰力。
							</p>
						</div>
					</div>
				</div>
				<div class="second_block">
					<div class="block_left">
						
					</div>
					<div class="block_right">
						<div class="block_title">
							<h5>知識傳承</h5>
						</div>
						<div class="block_content">
							<p>
								經驗是最難得的老師，更是最寶貴的知識！讓前輩帶領你深入了解業界需求，並分享專業路上的各種碰撞及成功經驗，是珍貴且無價的人生講堂。
							</p>
						</div>
					</div>
				</div>
				<div class="second_block">
					<div class="block_left">
						
					</div>
					<div class="block_right">
						<div class="block_title">
							<h5>開發啟蒙</h5>
						</div>
						<div class="block_content">
							<p>
								對未來發展感到迷茫，不確定自己的下一步，或許是你還不夠了解自己。經由與夥伴相互學習、合作，接觸不同的專業領域，發掘自己的可能性，為職涯打造更多的機會。
							</p>
						</div>
					</div>
				</div>
				<div class="second_block">
					<div class="block_left">
						
					</div>
					<div class="block_right">
						<div class="block_title">
							<h5>專業研習</h5>
						</div>
						<div class="block_content">
							<p>
								職涯目標明確、意志堅定，但如何讓自己更進一步？職場業師指點迷津，領導你了解向上發展的必要條件，確立目標，往更精進自己的航道無畏前行。 
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="third">
			<div>
			
			</div>
		</div>
		<div class="four">

		</div>
	</body>
	</html>