<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	{% load staticfiles %}
	<title>曼陀號領航計畫</title>
	<link rel="stylesheet" href="{% static 'home.css' %}">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/ScrollMagic.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/plugins/animation.gsap.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.20.3/TweenMax.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/plugins/animation.gsap.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.18.2/plugins/ScrollToPlugin.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/plugins/debug.addIndicators.min.js"></script>
	<script src="{% static 'home.js' %}"></script>
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-117666082-1"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());

		gtag('config', 'UA-117666082-1');

	</script>

	<link rel="shortcut icon" type="image/x-icon" href="{% static 'jpg/logo_2.png' %}" />

</head>
<body>
	<div class="nav">	
		<div class="logo">
			<img src="{% static 'jpg/logo.png' %}" height="20px">
		</div>	
		<div class="menu">
			<ul>	
				<li class="nav_item">
					<a href="#second"><button type="button" class="item" aria-haspopup="true" aria-expanded="false" aria-busy="false" onclick="">
						<div class="item_con">計劃詳情</div>	
					</button></a>
				</li>
				<li class="nav_item">
					<a href="#third"><button type="button" class="item" aria-haspopup="true" aria-expanded="false" aria-busy="false" onclick="#third">
						<div class="item_con">領航船長</div>	
					</button></a>
				</li>
				<li class="nav_item">
					<a href="#five"><button type="button" class="item" aria-haspopup="true" aria-expanded="false" aria-busy="false">
						<div class="item_con">報名資格</div>	
					</button></a>
				</li>
				<li class="nav_item">
					<a href="#ele"><button id="home_btn" type="button" class="item" aria-haspopup="true" aria-expanded="false" aria-busy="false">
						<div class="item_con">歷屆活動</div>	
					</button></a>
				</li>
				<li class="nav_item">
					<a href="#thirdteen"><button id="home_btn" type="button" class="item" aria-haspopup="true" aria-expanded="false" aria-busy="false">
						<div class="item_con">FAQ</div>	
					</button></a>
				</li>
				<li class="nav_item">
					<a href="#first"><button id="home_btn" type="button" class="item" aria-haspopup="true" aria-expanded="false" aria-busy="false">
						<div class="item_con">贊助夥伴</div>	
					</button></a>
				</li>
			</ul>
		</div>
	</div>
	
	<div class="first" id="first">
		<div class="first_content">
			<div class="first_title">
				<h2>第二屆曼陀號領航計畫</h2>				
				<h2>The MentorShip Program </h2>
			</div>
			<div class="first_btn" style="displatnone">
				<a href="#five"><button>立即報名 > </button></a>
			</div>
			<div class="logos_frame">
				<div class="logos">
					<a href="https://www.facebook.com/thementorshiptaiwan">
						<img src="{% static 'jpg/Mentor_logo.png'%}">
					</a>
				</div>
				<div class="logos">
					<img src="{% static 'jpg/GIT_logo.png'%}">
				</div>
				<div class="logos">
					<img src="{% static 'jpg/Ladies_That_UX_Taipei.jpg'%}">
				</div>
			</div>
		</div>
	</div>

	<article data-scrollmagic>
		<div class="second" id="second">
			<div class="second_top">
				<div class="second_title">
					<h3>曼陀號領航計畫</h3>
				</div>
				<div class="second_content">
					<p>台灣致力推廣女性於科技業和使用者體驗發展的兩大非營利組織：Girls In Tech 與 Ladies that UX 台北分會，共同舉辦「The MentorShip 曼陀號領航計畫」（非獨立組織計畫）
						本計畫所有人員皆以志工形式參與，整體活動時程為期四個月，將邀請各領域知名專家擔任小組船長 (Mentor)，分組舉行實體聚會。透過船長的專業分享與經驗傳承，幫助水手 (Mentee) 縮短職涯摸索的成本，突破職涯上的瓶頸與挑戰，成為科技女性領袖人才。水手們來自各個產業與職位，帶著共同的職涯目標與各自碰到的問題，透過計畫分享與串聯，幫助彼此互相學習成長，一起打造開放互惠的女性科技社群。

					</p>
				</div>
			</div>
			<div class="second_bottom">
				<div class="second_block">
					<div class="block_left">
						<img src="{% static 'jpg/ic_1.jpg' %}" height="60px">
					</div>
					<div class="block_right">
						<div class="block_title">
							<h5>人脈串連</h5>
						</div>
						<div class="block_content">
							<p>
								除了工作能力，職場上更不可或缺的專業力即是「人脈」。透過參與活動、相互交流，建立屬於你的人脈網，不僅增加工作上互助的好夥伴，更是為自己提高職場即戰力。
							</p>
						</div>
					</div>
				</div>
				<div class="second_block">
					<div class="block_left">
						<img src="{% static 'jpg/ic_2.jpg' %}" height="60px">
					</div>
					<div class="block_right">
						<div class="block_title">
							<h5>知識傳承</h5>
						</div>
						<div class="block_content">
							<p>
								經驗是最難得的老師，更是最寶貴的知識！讓前輩帶領你深入了解業界需求，並分享專業路上的各種碰撞及成功經驗，是珍貴且無價的人生講堂。
							</p>
						</div>
					</div>
				</div>
			</div>
			<div class="second_bottom">
				<div class="second_block">
					<div class="block_left">
						<img src="{% static 'jpg/ic_3.jpg' %}" height="60px">

					</div>
					<div class="block_right">
						<div class="block_title">
							<h5>開發啟蒙</h5>
						</div>
						<div class="block_content">
							<p>
								對未來發展感到迷茫，不確定自己的下一步，或許是你還不夠了解自己。經由與夥伴相互學習、合作，接觸不同的專業領域，發掘自己的可能性，為職涯打造更多的機會。
							</p>
						</div>
					</div>
				</div>
				<div class="second_block">
					<div class="block_left">
						<img src="{% static 'jpg/ic_4.jpg' %}" height="60px">
					</div>
					<div class="block_right">
						<div class="block_title">
							<h5>專業研習</h5>
						</div>
						<div class="block_content">
							<p>
								職涯目標明確、意志堅定，但如何讓自己更進一步？職場業師指點迷津，領導你了解向上發展的必要條件，確立目標，往更精進自己的航道無畏前行。 
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</article>
<div class="nine" id="nine" style="background-image: url({% static 'jpg/nine_bg.png' %})">
	<div class="nine_title">
		<h3>導師制度</h3>
	</div>
	<div class="nine_content">
		<div class="nine_right">
			<img src="{% static 'jpg/line_tri.png' %}" height="600px">
		</div>
		<div class="nine_right">
			<div class="nine_role">
				<h4>船長 Captain （導師）</h4>
				<h5>-每月Meetup中，分享自己經驗，協助航海士、水手開拓視野，給予產業、職涯大方向等建議</h5>
			</div>
			<div class="nine_role">
				<h4>航海士 Navigators （職場學姊）</h4>
				<h5>-傾聽、給予水手職場實作上的過來人建議，協助水手在職涯初期需要的務實成長，培養自身領導管理能力；在船長的帶領之下，探索未來發展更多可能</h5>
			</div>
			<div class="nine_role">
				<h4>水手 Sailors（導生）</h4>
				<h5>-對自身發展有理想、希望能吸取前輩經驗，往目標更加努力；或對職涯發展略有迷惘，帶著切身問題和其他水手、以及前輩們交流</h5>
			</div>
		</div>
	</div>
</div>
<article data-scrollmagic>
	<div class="third" id="third">
		<div class="third_title">
			<h3>將由5位船長及航海士帶領水手們</h3>
		</div>
		<div class="people_container">
			<div class="people" id="user_1">
				<div class="people_title">
					<h4>UX 使用者體驗設計</h4>
				</div>
				<div class="people_pho">
					<img src="{% static 'jpg/user_1.jpg' %}">
				</div>
				<div class="people_quote">
					<h4>"以人為本，從用戶出發，才能打造擁有持久生命力的好產品。"</h4>
				</div>
				<div class="people_name">
					<h4>施子薇 Jill Shih</h4>
				</div>
				<div class="people_description">
					<h6>專長："區塊鏈、產品使用者體驗、互聯網產品、軟體開發、跨國團隊管理</h6>
				</div>
				<div class="people_firm">
					<a><h5>COBINHOOD 執行長暨 DEXON Foundation 執行理事</h5></a>
				</div>
			</div>
			<div class="people" id="user_1">
				<div class="people_title">
					<h4>UX 使用者體驗設計</h4>
				</div>
				<div class="people_pho">
					<img src="{% static 'jpg/user_1.png' %}">
				</div>
				<div class="people_quote">
					<h4>"UX design 是發掘並解決問題的手段, 是從宏觀到微觀的角度來檢視使用者體驗的思維, 是會讓人會心一笑並記住那美好時刻的良方"</h4>
				</div>
				<div class="people_name">
					<h4>姚美玲 Ammy Yao</h4>
				</div>
				<div class="people_description">
					<h6>專長："使用者研究、使用者經驗設計、互動設計、設計管理"</h6>
				</div>
				<div class="people_firm">
					<a><h5>趨勢科技股份有限公司, Trend Micro 資深設計經理</h5></a>
				</div>
			</div>
			<div class="people" id="user_1">
				<div class="people_title">
					<h4>Engineering 技術開發</h4>
				</div>
				<div class="people_pho">
					<img src="{% static 'jpg/user_3.jpg' %}">
				</div>
				<div class="people_quote">
					<h4>"工程的知識日新月異，要終身學習。"</h4>
				</div>
				<div class="people_name">
					<h4>Jason Chuang</h4>
				</div>
				<div class="people_description">
					<h6>專長："AI, Machine Learning, Big Data Analytics, Architecture"</h6>
				</div>
				<div class="people_firm">
					<a href="http://www.businessmodelsinc.com"><h5>艾泉資訊 AI4quant 創辦人暨執行長</h5></a>
				</div>

			</div>
			<div class="people" id="user_1">
				<div class="people_title">
					<h4>Data Application 數據整合應用</h4>
				</div>
				<div class="people_pho">
					<img src="{% static 'jpg/user_4.jpg' %}">
				</div>
				<div class="people_quote">
					<h4>"在凡事皆可被數據化的時代，應積極培養「數據識別」的能力，會洞悉不同數據的價值及真偽，以避免輕易被大量的雜訊所左右。"</h4>
				</div>
				<div class="people_name">
					<h4>李杭 Nancy Lee</h4>
				</div>
				<div class="people_description">
					<h6>專長："商業分析、網路行銷、平台策略、專案管理、客戶關係"</h6>
				</div>
				<div class="people_firm">
					<a><h5>萬峰策略 WhiteMaple Consulting 共同創辦人</h5></a>
				</div>

			</div>
			<div class="people" id="user_1">
				<div class="people_title">
					<h4>Entrepreneur 創新領導力</h4>
				</div>
				<div class="people_pho">
					<img src="{% static 'jpg/user_5.jpeg' %}">
				</div>
				<div class="people_quote">
					<h4>"花時間認識自己跟世界 / Pay it forward。"</h4>
				</div>
				<div class="people_name">
					<h4>邱懷萱 Elisa Chiu</h4>
				</div>
				<div class="people_description">
					<h6>專長："International Business Development, Strategic Partnership, Business Strategy, Entrepreneurship"</h6>
				</div>
				<div class="people_firm">
					<a><h5>Anchor Taiwan 創辦人暨執行長</h5></a>
				</div>

			</div>
			<div class="people" id="user_1">
				<div class="people_title">
					<h4>Business 商務開發</h4>
				</div>
				<div class="people_pho">
					<img src="{% static 'jpg/user_6.png' %}">
				</div>
				<div class="people_quote">
					<h4>"賦能 (Empower) 合作夥伴，實現規模化銷售與管理的技術創新，最終達成合作夥伴與客戶的雙贏、成長！"</h4>
				</div>
				<div class="people_name">
					<h4>李芝禎 Jane Li</h4>
				</div>
				<div class="people_description">
					<h6>專長："數位行銷與廣告業務、合作夥伴開發與管理、品牌策略溝通"</h6>
				</div>
				<div class="people_firm">
					<a><h5>萬峰策略 WhiteMaple Consulting 共同創辦人</h5></a>
				</div>

			</div>
		</div>
		<div>

		</div>
	</div>
</article>

<div class="four" id="four">
	<div class="four_title">
		<img src="{% static 'jpg/ic_5.jpg' %}">
		<h3>活動辦法</h3>
	</div>
	<div class="four_content">
		<div class="four_left">
			<ul>
				<li>即日起~2019/4/14<br> 
					第一階段書面報名 
				</li>
				<li>2019/5/5 <br>
					初審 & 審查公布
				</li>
				<li>2019/5/18 <br> 
					第二階段面試複審
				</li>
				<li>
					2019/5/22<br> 
					第二階段複審錄取結果公佈
				</li>
<!-- 				<li>2018/7/14<br> 
					開幕式 + Monthly Meeting 
				</li>
				<li>2018/8/4 <br>
					Monthly Meeting 
				</li>
				<li>2018/10/6<br> 
					Monthly Meeting
				</li>
				<li>
					2018/11/3<br> 
					結業式
				</li> -->
			</ul>
		</div>
		<div class="vl" height="1000px" >
		</div>
		<div class="four_right">
			<ul>
				<li>於招募期間，選定參加之組別，填寫並繳交報名文件。
				</li>
				<li>
					主辦單位屆時公布第一階段書面審錄取名單。
				</li>
				<li>
					通過第一階段審查者，請預留於5/18下午13:00 - 17:00 出席第二階段複審面試現場活動，將由主辦單位安排與導師、學姊助教進行面談與審核。
				</li>
				<li>
					公布計畫錄取各組最終名單。
					最終錄取者將可參與The MentorShip 曼陀號領航計畫。
				</li>
<!-- 				<li> 開幕式 + Monthly Meeting<br>
					場地費用 NT$450
				</li>
				<li>
					Monthly Meeting 費用視場地而定，待公佈。
					以假日為主，各組協調時間。
				</li>
				<li>
					Monthly Meeting 費用視場地而定，待公佈。
					以假日為主，各組協調時間。
				</li>
				<li>
					結業式<br>
					場地費用 NT$450
				</li> -->
			</ul>
		</div>
		<div class="icons">
			<img src="{% static 'jpg/img_lifebuoy.jpg' %}">
		</div>
	</div>
</div>


<div class="five" id="five">
	<div class="four_title">
		<img src="{% static 'jpg/ic_5.png' %}">
		<h3>招募對象及參加資格</h3>
	</div>
	<div class="five_content">
		<div class="five_left">
			<div class="five_left_left">
				<h2>Sailors</h2>
				<h6>水手 （導生）</h6>
				<a href="https://docs.google.com/forms/d/e/1FAIpQLSdnE2eNI1a8YH6iyBdg-RUHW6JIpVes_fw0xZfNDu-ULnt0-w/viewform?fbclid=IwAR0aPCMfek44K8bL_BL-RTdb4MaiEkBqBH5kdIYsfErcQBGZcqkHlMyn5wI"><button>報名水手 ></button> </a>
			</div>
			<div class="five_left_right">
				<ul>
					<li></li>
					<li>·工作經驗1-3年內職場新鮮人 (含實習經驗)</li>
				</ul>
			</div>
		</div>
		<div class="five_right">
			<div class="five_right_left">
				<h2>Navigators</h2>
				<h6>航海士 （職場前輩)</h6>	
				<a href="https://docs.google.com/forms/d/e/1FAIpQLSdfp2Hk8XbCcNLvXrgRfewY28sEHFI21NFOSzi8cXUUg3kTIA/viewform?fbclid=IwAR0tKe6aoJECmBjNjaZKyZfQCB6zQccxrIy1_pfJr7c1vPb_yYrc1sYhPxc"><button>報名航海士 > </button></a>

			</div>
			<div class="five_right_right">
				<ul>
					<li>·至少具有3-6年以上申請的組別領域專業工作經驗</li>
					<li>·具備提拔後進熱忱，樂意提供第一線實務協助者</li>
					<li>·未來有興趣回饋女性科技社群者</li>
					<li>·錄取者以女性優先</li>
				</ul>
			</div>
		</div>
	</div>
</div>
<div class="ele" id="ele">
	<div class="four_title">
		<img src="{% static 'jpg/ic_5_white.png' %}">
		<h3 style="color: white;">歷屆活動相簿</h3>
	</div>
	<div class="five_content">
		<div class="ele_left" style="background-image: url({% static 'jpg/nine_bg.png' %})">
		</div>
		<div class="ele_right" style="background-image: url({% static 'jpg/nine_bg.png' %})">
		</div>
	</div>
</div>
<div class="twe">
	<div class="six_title">
		<img src="{% static 'jpg/ic_5.jpg' %}">
		<h3>學員回饋</h3>
	</div>
	<div class="six_content">
		<div class="feedback_container">
			<div class="feedback">
				<div class="feedback_title">
					<h4>Business</h4>
				</div>
				<div class="feedback_content">
					<p>導師分享業界BD實際工作流程，讓我更了解BD如何掌握資源，也發現若處理方式不同，不僅會影響公司營運，也可能會影響個人績效與貢獻程度。</p>
				</div>
			</div>
			<div class="feedback">
				<div class="feedback_title">
					<h4>Operation</h4>
				</div>
				<div class="feedback_content">
					<p>導師以秦始皇的故事來帶領我們的想像和討論，激發日後閱讀歷史或是商業評論時，會想增加自己從「被動吸收」改為「主動反芻」的能力。</p>
				</div>
			</div>
			<div class="feedback">
				<div class="feedback_title">
					<h4>Engineering</h4>
				</div>
				<div class="feedback_content">
					<p>從生命地圖更認識每位夥伴，得到的養分雖然比較難量化，但會在往後慢慢發酵，覺得是很棒的開始！</p>
				</div>
			</div>
			<div class="feedback">
				<div class="feedback_title">
					<h4>Data Application</h4>
				</div>
				<div class="feedback_content">
					<p>從電商機率配對，手機畫面停滯時間的應用，到空拍資料與智慧農業的結合，都讓我對資料分析更開了眼界。實務提案討論及公司內部門角色扮演，也讓我對產品的產出有更完善的畫面。</p>
				</div>
			</div>
			<div class="feedback">
				<div class="feedback_title">
					<h4>UX</h4>
				</div>
				<div class="feedback_content">
					<p>聽導師的甘苦談很有收穫，原來職場真的很多都一樣，知道自己要更有耐心跟協調，還有面對各種機車事情可以的應對方法！</p>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="thirdteen" id="thirdteen">
	<div class="four_title">
		<img src="{% static 'jpg/ic_5_white.png' %}">
		<h3 style="color: white;">FAQ</h3>
	</div>
	<div class="questions">
		<div class="faq-content">
			<div class="faq-question">
				<input id="q1" type="checkbox" class="panel">
				<div class="plus" style="  font-family: 'Raleway', sans-serif;">►</div>
				<label for="q1" class="panel-title">1.請問活動的詳細時程是什麼呢？</label>
				<div class="panel-content">5/18為活動的開幕式，接下來6、7、8、9月各有一次小組月會，時間視組別而定，10/19是活動的結業式。</div>
			</div>
		</div>
		<div class="faq-content">
			<div class="faq-question">
				<input id="q2" type="checkbox" class="panel">
				<div class="plus" style="  font-family: 'Raleway', sans-serif;">►</div>
				<label for="q2" class="panel-title">2.請問，我如果進了UX組，還可以跟其他組別交流嗎？</label>
				<div class="panel-content">當然可以！跨領域的交流在各行各業都很重要，除了5/18的開幕式、10/19的閉幕式，在活動期間，也會安排跨組交流活動，非常歡迎大家藉此與其他參與者互動！更鼓勵所有參與者在活動過程中以及結束後，持續彼此的專業往來！</div>
			</div>
		</div>
		<div class="faq-content">
			<div class="faq-question">
				<input id="q3" type="checkbox" class="panel">
				<div class="plus" style="  font-family: 'Raleway', sans-serif;">►</div>
				<label for="q3" class="panel-title">3.請問有關於各組別活動的相關介紹嗎？/ 請問船長（導師）的帶領方式會是如何呢？</label>
				<div class="panel-content">活動會以月會的方式進行，由船長及航海士帶領水手做主題討論及經驗分享。主題會與各組的職務內容相關，可能也會涵蓋到大家共有的職場問題。活動細節會視每位船長與學員的需求而定唷！</div>
			</div>
		</div>
		<div class="faq-content">
			<div class="faq-question">
				<input id="q4" type="checkbox" class="panel">
				<div class="plus" style="  font-family: 'Raleway', sans-serif;">►</div>
				<label for="q4" class="panel-title">4.請問，我剛剛送出了名表單，卻不慎上傳錯誤的履歷，有機會能更改上傳的檔案嗎？</label>
				<div class="panel-content">可以修改您已送出的表單喔，煩請試試看，如果仍有問題，再請跟我們聯絡，謝謝！</div>
			</div>
		</div>
		<div class="faq-content">
			<div class="faq-question">
				<input id="q5" type="checkbox" class="panel">
				<div class="plus" style="  font-family: 'Raleway', sans-serif;">►</div>
				<label for="q5" class="panel-title">5.請問現在可以加入曼陀號的臉書社團嗎？</label>
				<div class="panel-content">目前請先以曼陀號臉書粉絲頁為主唷！待錄取名單公布之後，會再邀請錄取者加入社團。</div>
			</div>
		</div>
		<div class="faq-content">
			<div class="faq-question">
				<input id="q6" type="checkbox" class="panel">
				<div class="plus" style="  font-family: 'Raleway', sans-serif;">►</div>
				<label for="q6" class="panel-title"> 6.我報名了水手，請問一共錄取多少人呢？</label>
				<div class="panel-content">每個組別的航海士最多錄取3人，水手最多錄取10人喔！</div>
			</div>
		</div>
		<div class="faq-content">
			<div class="faq-question">
				<input id="q7" type="checkbox" class="panel">
				<div class="plus" style="  font-family: 'Raleway', sans-serif;">►</div>
				<label for="q7" class="panel-title"> 7.請問我錄取了Business組，可以去參加其他組別的月會嗎？</label>
				<div class="panel-content">我們鼓勵學員之間相互交流，但月會的部分是各組成員之間彼此交流學習、經驗傳承的重要環節，為了顧及各組月會品質，月會的參與請以您錄取的組別為主喔！</div>
			</div>
		</div>
		<div class="faq-content">
			<div class="faq-question">
				<input id="q8" type="checkbox" class="panel">
				<div class="plus" style="  font-family: 'Raleway', sans-serif;">►</div>
				<label for="q8" class="panel-title"> 8.請問活動僅限女性報名嗎？</label>
				<div class="panel-content">活動主辦單位是台灣兩大女性科技社團Girl in Tech 和 Ladies That UX，我們秉持鼓勵並支持女性職涯發展的精神，希望能藉由這次活動，讓更多科技圈的傑出女性有相互交流、自我磨練成長，以及回饋社群的機會。因此航海士與水手，會以女性優先錄取。</div>
			</div>
		</div>
		<div class="faq-content">
			<div class="faq-question">
				<input id="q9" type="checkbox" class="panel">
				<div class="plus" style="  font-family: 'Raleway', sans-serif;">►</div>
				<label for="q9" class="panel-title"> 9.請問一定要有工作經驗才能報名水手嗎？</label>
				<div class="panel-content">是的，本活動的設計是針對有職場經驗者，因此水手的報名資格為工作經驗1-3年內職場新鮮人 ，工作經驗包含實習經驗，如果有超過一年以上的實習經驗，也歡迎妳報名！</div>
			</div>
		</div>
	</div>
</div>
<div class="six">
	<div class="six_title">
		<img src="{% static 'jpg/ic_5.jpg' %}">
		<h3>注意事項</h3>
	</div>
	<div class="six_content">
		<ul>
			<li>為求活動交流與出席品質，計畫錄取者需於開幕式時繳交$2,000新台幣押金作為擔保，保證出勤次數符合主辦單位規定。如計畫期間出勤    
				符合大會規定，押金將於結業式時全額退還。
			</li>
			<li>計劃參加者必須出席開幕式。結業式、與3次meet-up，如因故無法出席，需寫信向主辦單位請假，缺席2次未到者，主辦單位有權終止該員出  
				席計畫後續活動，並沒收保證金。
			</li>
			<li>計劃參加者需同意主辦單位使用參加者本次活動照片與資料，作為活動文宣推廣，活動紀錄，以及行銷文宣使用。
			</li>
			<li>主辦單位保有隨時修改及終止本活動之權利，如有任何變更內容或詳細注意事項將公布於計畫粉絲專頁，恕不另行個別通知。
			</li>
		</ul>
	</div>
</div>

<div class="seven">
	<div class="top">
		<div class="seven_top_img">
			<img src="{% static 'jpg/img_lighthouse.png' %}" height="300px">
		</div>
		<div class="seven_title">
			<h3>第二屆曼陀號領航計畫<br>
				The MentorShip Program 
			</h3>
		</div>
		<div class="seven_btn">
			<a href="https://www.facebook.com/The-MentorShip-%E6%9B%BC%E9%99%80%E8%99%9F%E9%A0%98%E8%88%AA%E8%A8%88%E7%95%AB-127497411432339/"><button>加入粉專 ></button></a>
		</div>
	</div>
</div>
<div class="eight" id="right">
	<div class="eight_title">
		<h3>主辦單位聯絡方式</h3>
	</div>
	<div class="eight_content">
		<div class="eight_left">
			<div class="eight_left_title">
				<h5>GIT Taiwan</h5>
				<a href="https://www.facebook.com/girlsintechtaiwan/"><img src="{% static 'jpg/bt_fb.jpg' %}"></a>
			</div>

			<div class="eight_left_content">
				<h6>taiwanchapter@girlsintech.org</h6>
			</div>

		</div>
		<div class="eight_right">
			<div class="eight_right_title">
				<h5>LTUX. Taipei</h5>
				<a href="https://www.facebook.com/ltuxtaipei/"><img src="{% static 'jpg/bt_fb.jpg' %}"></a>
			</div>
			<div class="eight_right_content">
				<h6>ltuxtaipei@gmail.com</h6>
			</div>
		</div>
	</div>
</div>
</div>

</div>
</body>
</html>